@import "tailwindcss";

/* Variables base */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Mapear variables a tokens de Tailwind */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Modo Dark */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Estilos globales */
html, body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100%;
 
}

main {
  
  height: 100vh;
  height: 100dvh; /* Soporte para dispositivos móviles */


}